<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.nicholasstephan.test"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Phonegap Build Test</name>

    <description>
        An example for phonegap build docs. 
    </description>

    <author href="" email="nicholas.stephan@gmail.com">
        Nicholas Stephan
    </author>


    <gap:platform name="ios" />
    <gap:platform name="android" />


    <preference name="phonegap-version" value="3.5.0" />

    <access origin="*" />


    <!-- plugins -->

    <gap:plugin name="com.phonegap.plugins.pushplugin" version="2.1.1" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.contacts" version="0.2.11" />
    <gap:plugin name="org.apache.cordova.media-capture" version="0.2.8" />
    <gap:plugin name="nl.x-services.plugins.socialsharing" version="4.3.0" />
    <!-- <gap:plugin name="com.oauthio.plugins.oauthio" version="0.2.4" /> -->
    
    




</widget>