<!DOCTYPE html>
<html ng-app="App">
  <head>
    <title>Test</title>

    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, target-densityDpi=device-dpi" />
      
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
    <link rel="stylesheet" href="http://cdn.nicholasstephan.com/glyphicons/1.8/glyphicons.css"/>
    <style>

      * {
        /* make transparent link selection, adjust last value opacity 0 to 1.0 */
        -webkit-tap-highlight-color: rgba(0,0,0,0); 
        outline:none;
      }

      html, body {
        width:100%;
        min-height:100%;
      }

      body {
        background:#333;
      }

      button {
        appearance:none;
        width:100%;
        height:50px;
        padding:0;
        border:0;
        margin:0 0 8px 0;
        background:#ccc;
        line-height:50px;
      }

      button:active {
        background:white;
      }

      button i {
        display:inline-block;
        vertical-align: top;
      }

      h1, h2 {
        color:white;
        text-align: center;
        font-weight:normal;
        font-size:16px;
      }

      section {
        padding:32px;
      }

      ul {
        box-sizing:border-box;
        width:100%;
        padding:0;
      }

      li {
        width:100%;
        color:white;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow:ellipsis;
      }

    </style>

    <script src="cordova.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0-beta.13/angular.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0-beta.13/angular-touch.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0-beta.13/angular-animate.js"></script>
    
    <script>
      angular.module('App', ['ngTouch', 'ngAnimate'])
        .controller('AppCtrl', function($scope) {

          var pushNotification;

          $scope.notifications = [];


          angular.element(document).on('deviceready', function() {
            $scope.notifications.push("device is ready");
            pushNotification = window.plugins.pushNotification;
            // note: device wasn't found, and window.device doesn't have a platform property
            // what is going on here?
            // if (device.platform.toLowerCase() == 'android') {
              // $scope.notifications.push("registering Android");
              // pushNotification.register(successHandler, errorHandler, {"senderID":"661780372179","ecb":"onNotificationGCM"});// required!
            // } else {
              $scope.notifications.push("registering iOS");
              pushNotification.register(tokenHandler, errorHandler, {"badge":"true","sound":"true","alert":"true","ecb":"onNotificationAPN"});    // required!
            // }
            

            OAuth.initialize('pyZoFPQdzd0gl1OtqecHsU3KZkI');
            
            $scope.$apply();
          });


          // handle APNS notifications for iOS
          window.onNotificationAPN = function(e) {
            if (e.alert) {
              $scope.notifications.push("push notification: " + e.alert);
              navigator.notification.alert(e.alert);
            }

            if (e.sound) {
              try {
                // var snd = new Media(e.sound);
                var snd = new Audio(e.sound);
                snd.play();
              } catch (e) {
                alert("new Media?")
              }
            }

            if (e.badge) {
              pushNotification.setApplicationIconBadgeNumber(successHandler, e.badge);
            }
            $scope.$apply()
          }

          // handle GCM notifications for Android
          window.onNotificationGCM = function(e) {
            $scope.notifications.push("EVENT -> RECEIVED:" + e.event);

            switch (e.event) {
              case 'registered':
                if (e.regid.length > 0) {
                  $scope.notifications.push("REGISTERED -> REGID:" + e.regid);
                  // Your GCM push server needs to know the regID before it can push to this device
                  // here is where you might want to send it the regID for later use.
                  console.log("regID = " + e.regid);
                }
                break;

              case 'message':
                // if this flag is set, this notification happened while we were in the foreground.
                // you might want to play a sound to get the user's attention, throw up a dialog, etc.
                if (e.foreground) {
                  $scope.notifications.push("--INLINE NOTIFICATION--");

                  // if the notification contains a soundname, play it.
                  try {
                    // var my_media = new Media("/android_asset/www/" + e.soundname);
                    var my_media = new Audio("/android_asset/www/" + e.soundname);
                    my_media.play();
                  } catch (e) {
                    alert("new Media?");
                  }
                } else { // otherwise we were launched because the user touched a notification in the notification tray.
                  if (e.coldstart)
                    $scope.notifications.push("--COLDSTART NOTIFICATION--");
                  else
                    $scope.notifications.push("--BACKGROUND NOTIFICATION--");
                }

                $scope.notifications.push("MESSAGE -> MSG: " + e.payload.message);
                $scope.notifications.push("MESSAGE -> MSGCNT: " + e.payload.msgcnt);
                break;

              case 'error':
                $scope.notifications.push("ERROR -> MSG:" + e.msg);
                break;

              default:
                $scope.notifications.push("EVENT -> Unknown, an event was received and we do not know what i");
                break;
            }
            $scope.$apply()
          }

          var tokenHandler = function (result) {
            $scope.notifications.push("token: " + result);
            // Your iOS push server needs to know the token before it can push to this device
            // here is where you might want to send it the token for later use.
            $scope.$apply()
          }

          var successHandler = function (result) {
            $scope.notifications.push("success: " + result);
            $scope.$apply()
          }

          var errorHandler = function (error) {
            $scope.notifications.push("error:" + error);
            $scope.$apply()
          }



          $scope.pickDeviceContact = function() {
            navigator.contacts.pickContact(function(contact){
              alert(JSON.stringify(contact));
            },function(err){
              alert('Error: ' + err);
            });
          };

          $scope.captureAudio = function() {
            var captureSuccess = function(mediaFiles) {
              var i, path, len;
              for (i = 0, len = mediaFiles.length; i < len; i += 1) {
                path = mediaFiles[i].fullPath;
                // do something interesting with the file
              }
            };

            // capture error callback
            var captureError = function(error) {
              navigator.notification.alert('Error code: ' + error.code, null, 'Capture Error');
            };

            // start audio capture
            navigator.device.capture.captureAudio(captureSuccess, captureError, {limit:2});
          };

          $scope.captureImage = function() {
            var captureSuccess = function(mediaFiles) {
              var i, path, len;
              for (i = 0, len = mediaFiles.length; i < len; i += 1) {
                path = mediaFiles[i].fullPath;
                // do something interesting with the file
              }
            };

            // capture error callback
            var captureError = function(error) {
              navigator.notification.alert('Error code: ' + error.code, null, 'Capture Error');
            };

            // start audio capture
            navigator.device.capture.captureImage(captureSuccess, captureError, {limit:2});
          };

          $scope.captureVideo = function() {
            var captureSuccess = function(mediaFiles) {
              var i, path, len;
              for (i = 0, len = mediaFiles.length; i < len; i += 1) {
                path = mediaFiles[i].fullPath;
                // do something interesting with the file
              }
            };

            // capture error callback
            var captureError = function(error) {
              navigator.notification.alert('Error code: ' + error.code, null, 'Capture Error');
            };

            // start audio capture
            navigator.device.capture.captureVideo(captureSuccess, captureError, {limit:2});
          };

          $scope.share = function() {
            console.log('share');
            window.plugins.socialsharing.share(
              "Message", 
              "A subject line",
              "https://www.google.nl/images/srpr/logo4w.png", // image
              "https://www.google.com", // link url
              function() {
                console.log('share ok');
              }, 
              function(errormsg){
                alert(errormsg);
              }
            );
          };

          $scope.shareTwitter = function() {
            console.log('shareTwitter');
            window.plugins.socialsharing.shareViaTwitter(
              'Message via Twitter'
            );
          };

          $scope.shareFacebook = function() {
            console.log('shareFacebook');
            window.plugins.socialsharing.shareViaFacebook(
              'Message via Facebook', 
              null, // image
              null, // link url
              function() {
                console.log('share ok');
              }, 
              function(errormsg){
                alert(errormsg);
              }
            );
          };

          $scope.shareEmail = function() {
            console.log('shareEmail');
            window.plugins.socialsharing.shareViaEmail(
              'Message', // can contain HTML tags, but support on Android is rather limited:  http://stackoverflow.com/questions/15136480/how-to-send-html-content-with-image-through-android-default-email-client
              'Subject',
              ['to@person1.com', 'to@person2.com'], // TO: must be null or an array
              ['cc@person1.com'], // CC: must be null or an array
              null, // BCC: must be null or an array
              ['https://www.google.nl/images/srpr/logo4w.png'], // FILES: can be null, a string, or an array
              function() {}, // called when sharing worked, but also when the user cancelled sharing via email (I've found no way to detect the difference)
              function() {} // called when sh*t hits the fan
            );
          };

          $scope.shareSMS = function() {
            console.log('shareSMS');
            window.plugins.socialsharing.shareViaSMS(
              'My cool message', 
              '7602150986', // comma separated phone numbers
              "https://www.google.nl/images/srpr/logo4w.png", // image
              function(msg) {
                console.log('ok: ' + msg);
              }, 
              function(msg) {
                alert('error: ' + msg);
              }
            );
          };


          $scope.messageFacebook = function() {
            OAuth.popup('facebook', {
                cache: true
            })
            .done(function(result) {
              //use result.access_token in your API request 
              //or use result.get|post|put|del|patch|me methods (see below)
              
              alert('connected to facebook');
            })
            .fail(function (err) {
              //handle error with err
              alert('error')
            });
          };

          $scope.messageTwitter = function() {
            OAuth.popup('twitter', {
                cache: true
            })
            .done(function(result) {
              //use result.access_token in your API request 
              //or use result.get|post|put|del|patch|me methods (see below)
              
              alert('connected to twitter');
            })
            .fail(function (err) {
              //handle error with err
              alert('error')
            });
          };

          
        });

    </script>

  </head>
  <body>
    <div id="app" ng-controller="AppCtrl">

      <section>
        <h2>Notifications</h2>

        <ul>
          <li ng-repeat="notification in notifications">{{notification}}</li>
        </ul>
      </section>

      <section>
        <h2>Contacts</h2>

        <button ng-click="pickDeviceContact()">
          <i class="glyphicons parents"></i> Device Contacts
        </button>


      </section>


      <section>
        <h2>Media Capture</h2>

        <button ng-click="captureAudio()">
          <i class="glyphicons microphone"></i> Audio
        </button>

        <button ng-click="captureImage()">
          <i class="glyphicons picture"></i> Image
        </button>

        <button ng-click="captureVideo()">
          <i class="glyphicons facetime_video"></i> Video
        </button>
      </section>


      <section>
        <h2>Sharing</h2>

        <button ng-click="share()">
          <i class="glyphicons share"></i> Device Share
        </button>

        <button ng-click="shareFacebook()">
          <i class="social facebook"></i> Facebook Post
        </button>

        <button ng-click="shareTwitter()">
          <i class="social twitter"></i> Twitter Post
        </button>

        <button ng-click="shareEmail()">
          <i class="glyphicons envelope"></i> Email
        </button>

        <button ng-click="shareSMS()">
          <i class="glyphicons chat"></i> SMS
        </button>
      </section>

      <section>
        <h2>Messaging</h2>

        <button ng-click="messageFacebook()">
          <i class="social facebook"></i> Facebook Message
        </button>

        <button ng-click="messageTwitter()">
          <i class="social twitter"></i> Twitter Message
        </button>

      </section>

      

      


    </div>
  </body>
</html>